fastapi
uvicorn
pydantic-settings
uuid6
sqlalchemy
python-dateutil
psycopg2-binary
requests
grpcio
grpcio-tools
websockets
openai
python-dotenv
chromadb==0.4.24
sentence-transformers==2.7.0
transformers==4.38.2
httpx
